#banner1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 3vw;
    background: #1e3352;
    color: white;
    z-index: 1;
    position: fixed;
}

#btn1,
#btn2 {
    color: white;
    background: #1e3352;
}

#banner2 {
    display: flex;
    justify-content: space-around;
    height: 8vw;
    width: 100vw;
    font-size: 1.125rem;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: fixed;
    background: white;
    z-index: 0;
    padding-top: 2vw;
}
#banner2 > div{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.banner2a {
    display:flex;
}
.banner2a  div{
    display: flex;
    justify-content: space-between;
}
.banner2b{
    display: flex;
}
.banner2b  img{
    width: 20px;
    height:25px;
    margin: auto;;
    margin-left: 5px;
    margin-right: 5px;;
}
#title{
    width:10vw;
    font-size: 4vw;
}


#signin {
    display: flex;
    margin: auto;
    width: 90%;
    padding-top: 12vw;
    /* margin-top: 0.5vw; */
    background-color: white;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    
}

#returningCustomer {
    width: 100%;
    font-weight: 400;
    margin: 4px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
}

#returningCustomer button {
    background-color: white;
    color: black;
    height:2.4vw;
}

#returningCustomer button:hover {
    background-color: black;
    color: white;
}

#returningCustomer :nth-child(3),
#returningCustomer :nth-child(4) {
    width: 80%;
    height: 2vw;
    margin: 0.5vw;
    margin-left: 4vw;
}

#newCustomer {
    width: 100%;
    padding-left: 4vw;
    margin: 4px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
}

#newCustomer input {
    height: 2vw;
    width: 80%;
    margin-bottom: 1vw;
}

#newCustomer button {
    height: 2.4vw;
    width: 60%;
    margin-bottom: 1vw;
    background-color: white;
}

#newCustomer button:hover {
    background-color: black;
    color: white;
}


footer {
    width:100%;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    color: white;
    justify-content: space-around;
    list-style: none;
    font-size: 1.2vw;;
}


.footerTop {
    font-size: 1.5vw;
    margin-top: 0.8vw;
    margin-bottom: 0.8vw;
}


footer li:hover {
    color: #ee5e68;
    cursor: pointer;
}

footer div {
    margin-left: 5vw;
}
footer > :nth-child(3){
    margin-right:6vw;
}
a {
    text-decoration: none;
}

@media all and (min-width:451px) and (max-width:750px) {

    footer {
        font-size: 1.2vw;
        background-color: black;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
        color: white;
        justify-content: space-around;
        list-style: none;
    }
    
}
