#banner1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height:3vw;
    background: #1e3352;
    color: white;
}
#btn1,#btn2{
    color:white;
    background: #1e3352;
}
#banner2 {
    display: flex;
    justify-content: space-around;
    height: 8vw;
    width: 100vw;
    font-size: 1.125rem;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#banner2 > div{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.banner2a {
    display:flex;
}
.banner2a  div{
    display: flex;
    justify-content: space-between;
}
.banner2b{
    display: flex;
}
.banner2b  img{
    width: 20px;
    height:25px;
    margin: auto;;
    margin-left: 5px;
    margin-right: 5px;;
}
#title{
    width:10vw;
    font-size: 4vw;
}

#banner3{
    width:90%;
    margin: auto;
    margin-top: 2vw;
    margin-bottom: 1vw;;
    height: 4vw;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#banner3 > a{
    text-decoration: none;
}


footer {
    width:100%;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    color: white;
    justify-content: space-around;
    list-style: none;
    font-size: 1.2vw;;
}


.footerTop {
    font-size: 1.5vw;
    margin-top: 0.8vw;
    margin-bottom: 0.8vw;
}


footer li:hover {
    color: #ee5e68;
    cursor: pointer;
}

footer div {
    margin-left: 5vw;
}
footer > :nth-child(3){
    margin-right:6vw;
}
#products{
    width:90%;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:1vw;
    margin: auto;
    text-align: center;
}
#products img{
    width:100%;
    
}
#products img:hover{
    transform: scale(1.0001);
}
#products p{
    font-family: "Visuelt Pro", sans-serif;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.4;
    color: #000;
}

#products p:hover{
    margin-left: 1vw;
    color:#ee5e68;
    cursor: pointer;
    
}

a {
    text-decoration: none;
}



@media all and (min-width:451px) and (max-width:750px) {

    footer {
       
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      
    }  

    #products{
        width:90%;
        display:grid;
        grid-template-columns: repeat(2,1fr);
        gap:1vw;
       
    }

}

@media all and (min-width:300px) and (max-width:452px) {

    footer {
       
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      
    }  

    #products{
        width:90%;
        display:grid;
        grid-template-columns: repeat(1,1fr);
        gap:1vw;
       
    }

}
